name: Deploy MkDocs

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Configure git
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.25"
      - name: Set up Python
        run: uv python install 3.13
      - name: Install dependencies
        run: |
          uv sync
          uv pip install -e .
      - name: Download ISOFIT dependencies
        run: |
          uv run isofit --base .. --path examples .     # Set the checked out repo as the examples path
          uv run isofit download examples --neon        # Download only the NEON dataset
          uv run isofit download all --exclude examples # Download all other ISOFIT extras
          uv run isofit build
      - name: Build and deploy docs
        run: |
          # The nbconvert module has some issues with uv run, so invoke it first which seems to fix it
          source .venv/bin/activate
          VERSION=$(isofit --version)
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            mike deploy --push --update-aliases "$VERSION" latest
            mike set-default --push latest
          else
            mike deploy --push dev
          fi
